# compiled output
/node_modules
/apps/auth/dist
/apps/auth/node_modules
/apps/auth/build
/apps/auth/uploads

/apps/danim/dist
/apps/danim/.nuxt
/apps/danim/node_modules
/apps/danim/build
/apps/danim/uploads

/apps/film/dist
/apps/film/.nuxt
/apps/film/node_modules
/apps/film/build
/apps/film/uploads

/apps/hamian/dist
/apps/hamian/.nuxt
/apps/hamian/node_modules
/apps/hamian/build
/apps/hamian/uploads

/apps/dampezeshki/.nuxt
/apps/dampezeshki/node_modules

/apps/market/.nuxt
/apps/market/node_modules

/packages/auth/dist
/packages/auth/node_modules
/packages/auth/build
/packages/auth/uploads

/packages/ui/dist
/packages/ui/node_modules
/packages/ui/build
/packages/ui/uploads


/packages/utils/dist
/packages/utils/node_modules
/packages/utils/build
/packages/utils/uploads

# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# OS
.DS_Store

# Tests
/coverage
/.nyc_output

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# dotenv environment variable files
/apps/auth/.env
/apps/auth/.env.development.local
/apps/auth/.env.test.local
/apps/auth/.env.production.local
/apps/auth/.env.local

/apps/film/.env
/apps/film/.env.development.local
/apps/film/.env.test.local
/apps/film/.env.production.local
/apps/film/.env.local


/apps/danim/.env
/apps/danim/.env.development.local
/apps/danim/.env.test.local
/apps/danim/.env.production.local
/apps/danim/.env.local


/apps/hamian/.env
/apps/hamian/.env.development.local
/apps/hamian/.env.test.local
/apps/hamian/.env.production.local
/apps/hamian/.env.local

/apps/dampezeshki/.env
/apps/dampezeshki/.env.example

/apps/market/.env
/apps/market/.env.example



# temp directory
.temp
.tmp

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Diagnostic reports (https://nodejs.org/api/report.html)
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json
